<form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <!-- Username. -->
  <div class="form-group row">
    <label for="username" class="col-2 col-form-label">Username</label>
    <div class="col-sm-3">
      <input id="username" class="form-control" type="text" name="username" required="required" minlength="3" maxlength="20"
             [(ngModel)]="form.username" #username="ngModel" (blur)="onBlur()"
             [ngClass]="{ 'is-invalid': (isUsernameBusy || username.errors) && f.submitted }" />

      <div *ngIf="isUsernameBusy" class="invalid-feedback">Username is busy.</div>
      <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="username.errors.required">Username must be filled out.</div>
        <div *ngIf="username.errors.minlength">Username must not contain less than 3 characters.</div>
        <div *ngIf="username.errors.maxlength">Username must not contain more than 20 characters.</div>
      </div>
    </div>
  </div>

  <!-- Password. -->
  <div class="form-group row">
    <label for="password" class="col-sm-2 col-form-label">Password</label>
    <div class="col-sm-3">
      <input id="password" class="form-control" type="password" name="password" required="required" minlength="5" maxlength="20"
             [(ngModel)]="form.password" (input)="onPasswordInput()" #password="ngModel"
             [ngClass]="{ 'is-invalid': (!passwordMatch || password.errors) && f.submitted }" />

      <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="password.errors.required">Passwords must be filled out.</div>
        <div *ngIf="password.errors.minlength">Password must contains no less than 5 characters.</div>
        <div *ngIf="password.errors.maxlength">Password must contains no more than 20 characters</div>
      </div>
    </div>
  </div>
  <div class="form-group row">
    <label for="repeatPassword" class="col-sm-2 col-form-label">Repeat password</label>
    <div class="col-sm-3">
      <input id="repeatPassword" class="form-control" type="password" name="repeatPassword" required="required"
             [(ngModel)]="repeatPassword" (input)="onPasswordInput()"
             [ngClass]="{ 'is-invalid': !passwordMatch || (password.errors && f.submitted) }" />

      <div *ngIf="!passwordMatch" class="invalid-feedback">Passwords don't match!</div>
    </div>
  </div>

  <!-- Avatar. -->
  <div class="form-group row">
    <label for="avatar" class="col-sm-2 col-form-label">Avatar</label>
    <div class="col-sm-3">
      <input id="avatar" class="form-control" type="url" name="avatar" [(ngModel)]="form.avatar" />
    </div>
  </div>

  <!-- Email. -->
  <div class="form-group row">
    <label for="email" class="col-sm-2 col-form-label">Email</label>
    <div class="col-sm-3">
      <input id="email" class="form-control" type="email" name="email" required="required"
             [(ngModel)]="form.email" #email="ngModel" [ngClass]="{ 'is-invalid': email.errors && f.submitted }" />

      <div *ngIf="email.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="email.errors.required">Email is required.</div>
        <div *ngIf="email.errors.pattern">Invalid email.</div>
      </div>
    </div>
  </div>

  <!-- Gender. -->
  <fieldset class="form-group">
    <div class="row">
      <legend class="col-form-label col-sm-2 pt-0">Sex</legend>
      <div class="col-sm-10">
        <div class="form-check">
          <input id="male" class="form-check-input" type="radio" value="Male" name="gender" checked="checked" required="required"
                 [(ngModel)]="form.gender" #gender="ngModel"
                 [ngClass]="{ 'is-invalid': gender.errors && f.submitted }" />
          <label for="male" class="form-check-label">Male</label>
        </div>
        <div class="form-check">
          <input id="female" class="form-check-input" type="radio" value="Female" name="gender" required="required"
                 [(ngModel)]="form.gender" #gender="ngModel"
                 [ngClass]="{ 'is-invalid': gender.errors && f.submitted }" />
          <label for="female" class="form-check-label">Female</label>
        </div>
        <div class="form-check">
          <input id="gay" class="form-check-input" type="radio" value="Gay" name="gender" required="required"
                 [(ngModel)]="form.gender" #gender="ngModel"
                 [ngClass]="{ 'is-invalid': gender.errors && f.submitted }" />
          <label for="gay" class="form-check-label">Gay</label>
        </div>
        <div class="form-check">
          <input id="lesbian" class="form-check-input" type="radio" value="Lesbian" name="gender" required="required"
                 [(ngModel)]="form.gender" #gender="ngModel"
                 [ngClass]="{ 'is-invalid': gender.errors && f.submitted }" />
          <label for="lesbian" class="form-check-label">Lesbian</label>

          <div *ngIf="gender.errors && f.submitted" class="invalid-feedback">
            <div *ngIf="gender.errors.required">Every human being has a gender and you are not special!</div>
          </div>
        </div>
      </div>
    </div>
  </fieldset>

  <button class="btn btn-dark" type="submit">Register</button>
</form>

<div *ngIf="registrationFailStatus">Registration failed.</div>
