<!-- Breadcrumb -->
<nav aria-label="breadcrumb" class="main-breadcrumb">
  <ol *ngIf="isLoggedIn" class="breadcrumb">
    <li class="breadcrumb-item"><a href="/home" routerLink="home">Home</a></li>
    <li class="breadcrumb-item"><a href="/profile" routerLink="profile">{{ userInfo.username }}</a></li>
    <li class="breadcrumb-item active" (click)="logout()">Logout</li>
  </ol>
  <ol *ngIf="!isLoggedIn" class="breadcrumb">
    <li class="breadcrumb-item"><a href="/login" routerLink="login">Login</a></li>
    <li class="breadcrumb-item"><a href="/register" routerLink="register">Register</a></li>
  </ol>
  <hr />
</nav>
<!-- /Breadcrumb -->

<router-outlet></router-outlet>
