<div *ngIf="infoMessage && !isLoggedIn">{{ infoMessage }}</div>

<form *ngIf="!isLoggedIn" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate>
  <!-- Username. -->
  <div class="row mb-3">
    <label for="username" class="col-sm-1 col-form-label">Username</label>
    <div class="col-sm-3">
      <input id="username" class="form-control" type="text" name="username"  minlength="3" maxlength="20" required="required"
             [(ngModel)]="form.username" #username="ngModel"
             [ngClass]="{ 'is-invalid': username.errors && f.submitted }" />

      <div *ngIf="username.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="username.errors.required">Username must not be empty.</div>
        <div *ngIf="username.errors.minlength">Username must not be shorter than 3 letters.</div>
        <div *ngIf="username.errors.maxlength">Username must not be longer than 3 letters.</div>
      </div>
    </div>

  </div>

  <!-- Password. -->
  <div class="row mb-3">
    <label for="username" class="col-sm-1 col-form-label">Password</label>
    <div class="col-sm-3">
      <input id="password" class="form-control" type="password" name="password" minlength="5" max="20" required="required"
             [(ngModel)]="form.password" #password="ngModel"
             [ngClass]="{ 'is-invalid': password.errors && f.submitted }" />

      <div *ngIf="password.errors && f.submitted" class="invalid-feedback">
        <div *ngIf="password.errors.required">Password must not be empty.</div>
        <div *ngIf="password.errors.minlength">Password must not be shorter than 5 characters.</div>
        <div *ngIf="password.errors.maxlength">Password must not be longer than 20 characters.</div>
      </div>
    </div>

  </div>

  <button class="btn btn-dark" type="submit">Login</button>
</form>

<div *ngIf="isLoggedIn">You are successfully logged in!</div>
<div *ngIf="isLoginFail">Bad credentials</div>
